html {
    scroll-behavior: smooth; /* Habilita a rolagem suave para toda a página */
}

body {
    font-family: "Teko", sans-serif;
    background-color: #D0FDD0;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #e2e1dc;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}


header .logo img {
    width: 100px;
    height: auto;
}

/* Navegação */

.nav {
    display: flex; 
    gap: 20px; 
    align-items: center; 
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    position: absolute;
    right: 20px; 
}

.nav a {
    text-decoration: none; 
    color: #000; 
    padding: 8px 12px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 18px;
}

.nav a:hover {
    color: #c7dc4f; 
    transform: scale(1.2);
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s;
}

.whatsapp-icon img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do Menu Mobile */

.btn-abrir-menu i{
    color: #000;
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 20px;
}

.nav-mobile {
    background-color: #619870cc;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.nav-mobile.abrir-menu{
    width: 70%;
}

.nav-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.nav-mobile .btn-fechar i{
    color: #000;
    font-size: 20px;
}

.nav-mobile .btn-fechar{
    padding: 20px 10%;
}

.nav-mobile nav ul{
   text-align: center; 
   list-style: none;
}

.nav-mobile nav ul li a{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    padding: 20px 10%;
    text-decoration: none;
    display: block;
}

.nav-mobile nav ul li a:hover{
    color: #c7dc4f;
    background-color: #000;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}

/* Carossel */

.carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    height: 600px;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out forwards; 
}

.carousel-item .overlay h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #ADD0AB; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    animation: textZoom 1.2s ease-in-out forwards; 
}

.carousel-item .overlay p {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out forwards; 
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.carousel-buttons button:hover {
    transform: scale(1.1); 
    background-color: rgba(0, 0, 0, 0.7);
}

/* Animações Carrossel */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes textZoom {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Texto Inicial */

.container-text {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #619870;
}
.highlight {
    font-weight: bold;
    color: #619870;
}
.emoji {
    font-size: 1.5em;
}
.button-container {
    text-align: center; /* Centraliza o botão sem afetar os textos */
}
.cta-button {
    display: inline-block; /* Mantém o tamanho natural do botão */
    margin-top: 20px; /* Adiciona espaçamento acima */
    padding: 10px 20px;
    background-color: #619870;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s;
}
.cta-button:hover {
    background-color: #c7dc4f;
}

/*Barra de pesquisa*/

.input-group{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 8px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    margin-bottom: 2rem;
}

.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-width: 32px;
    min-height: 32px;
    background-color: #619870;
    align-items: center;
    color: #000;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus{
    outline: none;
}

.resultados {
    margin-top: 20px;
  }
  
.resultado-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
}

/* Barra de pesquisa */
#search-container {
    display: flex;
    flex-direction: column; /* Coloca os elementos em coluna */
    width: 100%;
}

/* Barra de pesquisa */
#search {
    width: 100%; /* A barra de pesquisa ocupará toda a largura disponível */
    padding: 10px;
    margin-bottom: 10px; /* Espaço entre a barra e os resultados */
}

/* Resultados da pesquisa */
#resultados {
    width: 100%; /* Garante que os resultados ocupem toda a largura */
    margin-top: 10px; /* Espaço entre a barra de pesquisa e os resultados */
    display: flex;
    flex-direction: column; /* Exibe os resultados em uma coluna */
}

.resultado-item {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Estilo do botão de compra na barra de pesquisa */
.btn-comprar {
    display: inline-block;
    padding: 12px 20px;
    background-color: #619870; /* Cor vibrante para chamar atenção */
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(255, 111, 97, 0.2); /* Sombra sutil */
    margin-top: 15px; /* Distância do conteúdo acima */
}

/* Efeito ao passar o mouse sobre o botão */
.btn-comprar:hover {
    background-color: #c7dc4f; /* Cor mais escura para hover */
    transform: scale(1.05); /* Aumenta o tamanho do botão */
}

/* Efeito ao clicar no botão */
.btn-comprar:active {
    background-color: #09ff00; /* Cor mais intensa quando pressionado */
    transform: scale(0.98); /* Diminui o tamanho do botão ao clicar */
}

/* Categorias */
.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 20vh; /* Garante que a altura mínima seja respeitada */
    margin-bottom: 30px; /* Espaço entre categorias e produtos */
    padding: 10px; /* Adiciona um pequeno preenchimento interno */
    background-color: #61987070; /* Adiciona uma cor de fundo para destacar */
    border-bottom: 2px solid #ccc; /* Linha para separar visualmente */
}

/* Botão das categorias */
.categoria-botao {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #619870;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.categoria-botao:hover {
    background-color: #c7dc4f;
    transform: scale(1.05);
}

.categoria-botao:active {
    background-color: #c7dc4f;
    transform: scale(0.95);
}


/* Cursos */

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: auto;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #619870;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #ADD0AB;
    width: 250px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25rem;
    color: #444;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

.detalhes-btn {
    background-color: #619870;
    color: #000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.detalhes-btn:hover {
    background-color: #c7dc4f;
    color: #000;
}

.btn-success {
    background-color: #D0FDD0;
    color: #000;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #000;
    color: #c7dc4f;
}




/* Estilo do modal */

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
}


.modal-content {
background-color: #ADD0AB;
margin: 10% auto;
padding: 20px;
border-radius: 8px;
width: 80%;
max-width: 500px;
text-align: center;
}


.modal-close {
position: absolute;
top: 10px;
right: 20px;
font-size: 24px;
font-weight: bold;
cursor: pointer;
}


.modal-img {
width: 100%;
max-height: 200px;
object-fit: cover;
margin-bottom: 15px;
}


.modal-btn {
display: inline-block;
margin-top: 15px;
padding: 10px 20px;
background-color: #D0FDD0;
color: #000;
text-decoration: none;
border-radius: 5px;
font-size: 16px;
}

.modal-btn:hover {
background-color: #c7dc4f;
color: #000;
}


#paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#paginacao button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #619870;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#paginacao button:hover {
    background-color: #c7dc4f;
    transform: scale(1.05);
}

#paginacao button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#paginacao input {
    width: 50px;
    padding: 8px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#paginacao input:focus {
    border-color: #22223B;
    outline: none;
}


/* Comunidade do WhatsApp */

.convite-container {
    margin: 100px auto;
    background: #ADD0AB;
    border: 1px solid #619870;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.convite-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.convite-container p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.convite-container button {
    background-color: #619870;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.convite-container button:hover {
    background-color: #000;
    color: #c7dc4f;
}

.convite-container img {
    width: 100px;
    margin-bottom: 20px;
}

/* Aceitar Cookies */

.cookies-msg{
    width: 45%;
    background-color: #619870;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    border: 2px solid #22223B;
    display: none;
}

.cookies-msg.mostrar{
    display: block;
}
.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
    color: #fff;
}

.cookies-msg .cookies-btn{
    margin-left: 30px;
}

.cookies-msg .cookies-btn button{
    background-color: #22223B;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 20px;
}

.cookies-msg .cookies-btn button:hover{
    transform: scale(0.9);
    background-color: #fff;
    color: #000;
}

/* Icones de WhatsApp */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s;
    border: 2px solid #000;
}

.whatsapp-icon img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Rodapé */

footer {
    background-color: #619870; 
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer-content, .footer-copyright {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.redes-sociais {
    flex: 1;
    text-align: center;
}

.redes-sociais h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #000;
}

.redes-sociais a {
    display: block;
    text-decoration: none;
    color: #000;
    margin-bottom: 8px;
}

.redes-sociais a:hover {
    color: #c7dc4f;
}

.contatos {
    flex: 1;
    text-align: center;
}

.contatos h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #000;
}

.contatos p {
    margin: 4px 0;
    color: #000
}



/* Media */

@media screen and (min-width: 769px) {

    /* Exibe o menu desktop e esconde o menu mobile em telas grandes */

        /* Navegação */

    .nav {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }

    .btn-abrir-menu {
        display: none;
    }

}

@media (max-width: 480px) {

    /* Responsividade para smartphones (telas menores que 480px) */

    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    *{
        box-sizing: border-box; 
    }

    /* Carrossel */

   .carousel-item {
        height: 300px; 
    }

    .carousel-item .overlay {
        max-width: 95%;
    }

    .carousel-item .overlay h3 {
        font-size: 1.1rem; 
    }

    .carousel-item .overlay p {
        font-size: 0.7rem; 
    }

    /* Cursos */

    h1 {
        font-size: 1.5rem;
    }

    .btn-success {
        font-size: 0.9rem;
        padding: 8px 12px;
    }

    /* Aceitar Cookies */

    .cookies-msg {
        width: 90%;
        bottom: 10%;
        padding: 10px;
    }

    .cookies-msg .cookies-txt {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .cookies-msg .cookies-btn {
        margin: 10px 0 0 0;
    }

    .cookies-msg .cookies-btn button {
        font-size: 16px;
        padding: 8px 20px;
    }
}


@media screen and (max-width: 768px) {

    /* Esconde o menu desktop e mostra o menu mobile em telas pequenas */

    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    *{
        box-sizing: border-box; 
    }

    /*Navegação Mobile*/

    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* Carrossel */

    .carousel-item {
        height: 400px; 
    }

    .carousel-item .overlay {
        max-width: 90%; 
        padding: 10px;
    }

    .carousel-item .overlay h3 {
        font-size: 1.5rem; 
    }

    .carousel-item .overlay p {
        font-size: 0.9rem; 
    }

    .carousel-buttons button {
        padding: 8px 15px; 
    }

    /* Cursos */

    .card {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    /* Aceitar Cookies */

    .cookies-msg {
        width: 70%;
        bottom: 7%;
        padding: 15px;
    }

    .cookies-msg .cookies-txt {
        text-align: justify;
        padding: 15px;
    }

    .cookies-msg .cookies-btn {
        margin-left: 15px;
    }

    .cookies-msg .cookies-btn button {
        font-size: 17px;
        padding: 10px 30px;
    }

}