body {
    font-family: "Teko", sans-serif;
    background-color: #DA9E9E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Sessão de aviso */

main {
    flex: 1;
    padding: 20px;
}

.message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #C38B8B;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.message-box {
    text-align: center;
}

.message-box h1 {
    font-size: 2.5em;
    color: #AF6565;
    margin-bottom: 20px;
}

.message-box p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
}

/* Header */

header {
    background-color: #AF6565;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

header .logo img {
    width: 100px;
    height: auto;
}

/* Navegação */

.nav {
    display: flex;
    gap: 20px;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: absolute;
    right: 20px;
}

.nav a {
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
}

.nav a:hover {
    color: #f3723b;
    transform: scale(1.2);
}

/* Estilo do Menu Mobile */

.btn-abrir-menu i{
    color: #000;
    font-size: 30px;
    position: absolute;
    top: 50px;
    right: 20px;
}

.nav-mobile {
    background-color: rgba(175, 101, 101, 0.5);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}

.nav-mobile.abrir-menu{
    width: 70%;
}

.nav-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.nav-mobile .btn-fechar i{
    color: #000;
    font-size: 20px;
}

.nav-mobile .btn-fechar{
    padding: 20px 10%;
}

.nav-mobile nav ul{
   text-align: center; 
   list-style: none;
}

.nav-mobile nav ul li a{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    padding: 20px 10%;
    text-decoration: none;
    display: block;
}

.nav-mobile nav ul li a:hover{
    color: #f3723b;
    background-color: #000;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}


/* Ícones de WhatsApp */

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-items: center;
    transition: transform 0.3s;
    border: 2px solid #000;
}

.whatsapp-icon img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Carossel */

.carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    height: 600px;
    box-sizing: border-box;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-item .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out forwards; 
}

.carousel-item .overlay h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f3723b; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    animation: textZoom 1.2s ease-in-out forwards; 
}

.carousel-item .overlay p {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1.5s ease-in-out forwards; 
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.carousel-buttons button:hover {
    transform: scale(1.1); 
    background-color: rgba(0, 0, 0, 0.7);
}

/* Animações Carrossel */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes textZoom {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}










/* Aceitar Cookies */

.cookies-msg{
    width: 45%;
    background-color: #f3723b;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    border: 2px solid #22223B;
    display: none;
}

.cookies-msg.mostrar{
    display: block;
}
.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
    color: #fff;
}

.cookies-msg .cookies-btn{
    margin-left: 30px;
}

.cookies-msg .cookies-btn button{
    background-color: #22223B;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    border-radius: 20px;
}

.cookies-msg .cookies-btn button:hover{
    transform: scale(0.9);
    background-color: #fff;
    color: #000;
}


/* Rodapé */

footer {
    background-color: #AF6565;
    padding: 20px;
    text-align: center;
    color: #000;
    margin-top: auto; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.redes-sociais, .contatos {
    flex: 1;
    text-align: center;
}

.redes-sociais h4, .contatos h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #000;
}

.redes-sociais a {
    text-decoration: none;
    color: #000;
    margin-bottom: 8px;
}

.redes-sociais a:hover {
    color: #f3723b;
}

.contatos p {
    margin: 4px 0;
    color: #000;
}


/* Media */

@media screen and (min-width: 769px) {

    /* Exibe o menu desktop e esconde o menu mobile em telas grandes */

        /* Navegação */

    .nav {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }

    .btn-abrir-menu {
        display: none;
    }

}

@media (max-width: 480px) {

    /* Responsividade para smartphones (telas menores que 480px) */

    /* Carrossel */

  .carousel-item {
        height: 300px; 
    }

    .carousel-item .overlay {
        max-width: 95%;
    }

    .carousel-item .overlay h3 {
        font-size: 1.1rem; 
    }

    .carousel-item .overlay p {
        font-size: 0.7rem; 
    }


    /* Aceitar Cookies */

    .cookies-msg {
        width: 90%;
        bottom: 10%;
        padding: 10px;
    }

    .cookies-msg .cookies-txt {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .cookies-msg .cookies-btn {
        margin: 10px 0 0 0;
    }

    .cookies-msg .cookies-btn button {
        font-size: 16px;
        padding: 8px 20px;
    }
}


@media screen and (max-width: 768px) {

    /* Esconde o menu desktop e mostra o menu mobile em telas pequenas */

    /*Navegação Mobile*/

    .nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .btn-abrir-menu {
        display: block;
    }

    /* Carrossel */

   .carousel-item {
        height: 400px; 
    }

    .carousel-item .overlay {
        max-width: 90%; 
        padding: 10px;
    }

    .carousel-item .overlay h3 {
        font-size: 1.5rem; 
    }

    .carousel-item .overlay p {
        font-size: 0.9rem; 
    }

    .carousel-buttons button {
        padding: 8px 15px; 
    }

    /* Aceitar Cookies */

    .cookies-msg {
        width: 70%;
        bottom: 7%;
        padding: 15px;
    }

    .cookies-msg .cookies-txt {
        text-align: justify;
        padding: 15px;
    }

    .cookies-msg .cookies-btn {
        margin-left: 15px;
    }

    .cookies-msg .cookies-btn button {
        font-size: 17px;
        padding: 10px 30px;
    }

}


